<!DOCTYPE html>
<html>
  <head>
    <title>Vue Todo</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="app.js"></script>
  </head>


  <body>
    <div id="app" class="main">
      <form v-on:submit.prevent="onSubmit">
        <label>Todo Body</label>
        <textarea v-model="newTodo" name="todo-body" rows="10" cols="30"></textarea>
        <button @click="addTodo">Create Todo</button>
      </form>
      
      <h1>Todos</h1>
      <ul>
        <todo-item
          v-for="todo in todos"
          v-bind:todo="todo"
          v-bind:key="todo.id"
          @click.native="markComplete"
        ></todo-item>
      </ul>
    </div>


    <script src="app.js"></script>
  </body>




</html>